// primary colors
$deepSpaceBlue: #0D1B2A;
$midnightBlue: #001F54;

// secondary colors
$starlightWhite: #FFFFFF;
$nebulaPurple: #6A0572;

// accent colors
$meteorGray: #6D676E;
$astralAqua: #00A8E8;

// highlight colors
$galacticGold: #FFD700;
$cosmicRed: #FF4500;