body,
html {
    overflow-x: hidden;
  &.modal-open {
    overflow: hidden;

    #__nuxt {
      overflow-y: hidden;
    }
  }

  @include maxq(tablet) {
    overflow: hidden;
    overscroll-behavior-y: none;
  }
}

.container {
    @include container;
}

a{
  text-decoration: none;
  color: white;
}